#mhs {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#mhs td,
#mhs th {
    border: 1px solid #ddd;
    padding: 8px;
}

#mhs tr:nth-child(even) {
    background-color: #f2f2f2;
}

#mhs tr:hover {
    background-color: #ddd;
}

#mhs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

a:link,
a:visited {
    background-color: #04AA6D;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: #04AA6D;
}